<html>
    <head>
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/style.css">
    </head>
    <body>
        <!--nav-->
        <nav class="light-blue darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <i class="material-icons">
          directions_boat
        </i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="/">
            Inicio
          </a>
        </li>
        <li>
          <a href="/solicitud">
            Solicitud
          </a>
        </li>
        <li>
          <a href="/">
            Reseña
          </a>
        </li>
        <li>
          <a href="/iniciar">
            Iniciar Sesion
          </a>
        </li>
        <li>
          <a href="/registrar">
            Registrarse
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
        <!--nav-->

        <h2 align="center">SOLICITUD DEL CLIENTE</h2>
    <div class="container">
      <div class="row">
        <div class="col s4">
          <img src="img/7 (2).jpeg" alt="" class="circle responsive-img" style="width: 90%;">
        </div>
        <div class="col s8">
          <form>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Tipo de personal a solicitar" id="personal" type="text" class="validate">
                <label for="personal">Tipo de personal a solicitar</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Cantidad de personal a solicitar" id="cantidad" type="text" class="validate">
                <label for="cantidad">Cantidad de personal a solicitar</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Pagos brutos anuales" id="pagos" type="text" class="validate">
                <label for="pagos">Pagos brutos anuales</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Comision por año" id="comision" type="text" class="validate">
                <label for="comision">Comision por año</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Años que pretende laborar" id="años" type="text" class="validate">
                <label for="años">Años que pretende laborar</label>
              </div>
            </div>
          </form>
              <a class="waves-effect waves-light btn-large"><i class="material-icons right">send</i>Enviar</a>
        </div>
      </div>
        </div>

        <!--footer-->
        <div class="container">
              <div class="row">
                <div class="container col s12 blue">
                  <div class="row">
                    <div class="container">
                      <h2 align="center">Informacion Adicional</h2>
                      <div class="input-field col s12">
                        <input placeholder="Email" id="email" type="text" class="validate">
                        <a class="waves-effect waves-light btn-large"><i class="material-icons right">send</i>Suscribete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s4">
                  <h3>Comunidad</h3>
                  <p>Twitter</p>
                  <p>Facebook</p>
                  <p>Instagram</p>
                </div>
                <div class="col s4">
                  <h3>Soporte</h3>
                  <p>Mi Cuenta</p>
                  <p>Ayuda y Soporte</p>
                  <p>Contactanos</p>
                </div>
                <div class="col s4">
                  <h3>Compañia</h3>
                  <p>Politicas de Privacidad</p>
                  <p>Terminos de Servicio</p>
                  <p>Codigo de Conducta</p>
                </div>
              </div>
            </div>
        <!--footer-->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>